# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Génération
*.g.dart
*.freezed.dart
objectbox-model.json
objectbox.g.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets / environnement
.env
.env.local
keystore_base64.txt
upload-keystore.jks
key.properties

# Couverture
coverage/

# Divers
*.log
